body{
  margin: 0 auto;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}
header{
  background-color: #1DA1F2;
  /*para que ocupe todo el largo*/
  position: fixed;
  width: 100%;
}
h1{
  text-align: center;
  color: white;
}
section{
  /*background-color: #D5DFDD;*/
  width: 100%;
  height: 40em;
  overflow: auto;
  background-image: url("../img/img.JPG");
  background-size: cover;
}
.box1{
  background-color: white;
  margin-top: 8em;
  margin-left: 5em;
  width: 30em;
  height: 15em;
  float: left;
  box-shadow: 0 0 1em #C8CACE;
}
.box2{
  background-color: white;
  margin-top: 8em;
  margin-left: 5em;
  width: 30em;
  height: 15em;
  float: left;
  box-shadow: 0 0 1em #C8CACE;
}
h2, h3, h4 {
  margin-left: 1em;
}
h4{
  color: #007D65;
}
.txt{
  width: 30em;
  margin-top: 1em;
  margin-left: 2em;
  border: none;
  border-bottom: 0.1em solid #007D65;
  overflow: auto;
}
.txt:focus {
  outline: none;
  border:none;
  border-bottom: 0.1em solid #007D65;
}
.boton{
  font-size: 1em;
  background-color: grey;
  padding: 0.6em 0.8em 0.6em 0.8em;
  border: 0;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  color: black;
  margin-left: 2em;
  margin-top: 2em;
}
/*boton cuando se habilita*/
.boton2{
  font-size: 1em;
  background-color: #1DA1F2;
  padding: 0.6em 0.8em 0.6em 0.8em;
  border: 0;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  color: white;
  margin-left: 2em;
  margin-top: 2em;
}
.parrafo{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
.parrafo2{
  margin-top: 0.2em;
  margin-bottom: 0;
}
.contador{
  border: none;
  color: #007D65;
  width: 4em;
  margin-left: 16em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.contadorOrange{
  border: none;
  color: orange;
  width: 4em;
  margin-left: 16em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.contadorRed{
  border: none;
  color: red;
  width: 4em;
  margin-left: 16em;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
#cont{
  width: 65em;
  margin-top: 25em;
  margin-left: 5em;
}
#cont div{
  padding: 1em 0.5em;
  background-color: #FFF;
  margin-top: 2em;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
}
